NEXT_PUBLIC_APP_NAME=BarePlay Email
NEXT_PUBLIC_APP_HOST=bareplay-email.purplestreet.com
NEXT_PUBLIC_BUSINESS_NAME=BarePlay
NEXT_PUBLIC_BUSINESS_EMAIL=info@bareplay.org
NEXT_PUBLIC_CLOUDFLARE_ACCESS_ENABLED=true

CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=

BAREPLAY_EMAIL_IMAP_HOST=imap.qboxmail.com
BAREPLAY_EMAIL_IMAP_PORT=993
BAREPLAY_EMAIL_IMAP_USERNAME=info@bareplay.org
BAREPLAY_EMAIL_IMAP_PASSWORD=
BAREPLAY_EMAIL_SMTP_USERNAME=info@bareplay.org
BAREPLAY_EMAIL_SMTP_PASSWORD=
